# Ex3 - Getting and Knowing your Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [1]:
import numpy as np
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/thieu1995/csv-files/main/data/pandas/u.user).

### Step 3. Assign it to a variable called users and use the 'user_id' as index

In [2]:
data = pd.read_csv('https://raw.githubusercontent.com/thieu1995/csv-files/main/data/pandas/u.user')

### Step 4. See the first 25 entries

In [3]:
data.head(25)

   user_id|age|gender|occupation|zip_code
0                 1|24|M|technician|85711
1                      2|53|F|other|94043
2                     3|23|M|writer|32067
3                 4|24|M|technician|43537
4                      5|33|F|other|15213
5                  6|42|M|executive|98101
6              7|57|M|administrator|91344
7              8|36|M|administrator|05201
8                    9|29|M|student|01002
9                    10|53|M|lawyer|90703
10                    11|39|F|other|30329
11                    12|28|F|other|06405
12                 13|47|M|educator|29206
13                14|45|M|scientist|55106
14                 15|49|F|educator|97301
15            16|21|M|entertainment|10309
16               17|30|M|programmer|06355
17                    18|35|F|other|37212
18                19|40|M|librarian|02138
19                20|42|F|homemaker|95660
20                   21|26|M|writer|30068
21                   22|25|M|writer|40206
22                   23|30|F|artist|48197
23                   24|21|F|artist|94533
24                 25|39|M|engineer|55107

### Step 5. See the last 10 entries

In [4]:
data.tail(10)

    user_id|age|gender|occupation|zip_code
933                934|61|M|engineer|22902
934                  935|42|M|doctor|66221
935                   936|24|M|other|32789
936                937|48|M|educator|98072
937              938|38|F|technician|55038
938                 939|26|F|student|33319
939           940|32|M|administrator|02215
940                 941|20|M|student|97229
941               942|48|F|librarian|78209
942                 943|22|M|student|77841

### Step 6. What is the number of observations in the dataset?

In [5]:
data.size

943

### Step 7. What is the number of columns in the dataset?

In [6]:
len(data.columns)

1

### Step 8. Print the name of all the columns.

In [7]:
print(data.columns)

Index(['user_id|age|gender|occupation|zip_code'], dtype='object')

### Step 9. How is the dataset indexed?

In [8]:
data.index

RangeIndex(start=0, stop=943, step=1)

### Step 10. What is the data type of each column?

In [9]:
data.dtypes

user_id|age|gender|occupation|zip_code    object
dtype: object

### Step 11. Print only the occupation column

In [10]:
data['user_id'], data['age'], data['gender'], data['occupation'], data['zip_code'] = data['user_id|age|gender|occupation|zip_code'].str.split('|').str
data.head(5)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Columnar iteration over characters will be deprecated in future releases.
  """Entry point for launching an IPython kernel.

,user_id|age|gender|occupation|zip_code,user_id,age,gender,occupation,zip_code
0,1|24|M|technician|85711,1,24,M,technician,85711
1,2|53|F|other|94043,2,53,F,other,94043
2,3|23|M|writer|32067,3,23,M,writer,32067
3,4|24|M|technician|43537,4,24,M,technician,43537
4,5|33|F|other|15213,5,33,F,other,15213

In [11]:
del data['user_id|age|gender|occupation|zip_code']

In [12]:
data.head(5)
data['occupation']

0         technician
1              other
2             writer
3         technician
4              other
           ...
938          student
939    administrator
940          student
941        librarian
942          student
Name: occupation, Length: 943, dtype: object

### Step 12. How many different occupations are in this dataset?

In [13]:
data["occupation"].value_counts().count()

21

### Step 13. What is the most frequent occupation?

In [14]:
data["occupation"].value_counts().sort_values(ascending=False).head()

student          196
other            105
educator          95
administrator     79
engineer          67
Name: occupation, dtype: int64

### Step 14. Summarize the DataFrame.

In [15]:
data.describe()

       user_id  age gender occupation zip_code
count      943  943    943        943      943
unique     943   61      2         21      795
top          1   30      M    student    55414
freq         1   39    670        196        9

### Step 15. Summarize all the columns

In [16]:
data.describe(include="all")

       user_id  age gender occupation zip_code
count      943  943    943        943      943
unique     943   61      2         21      795
top          1   30      M    student    55414
freq         1   39    670        196        9

### Step 16. Summarize only the occupation column

In [17]:
data.occupation.describe()

count         943
unique         21
top       student
freq          196
Name: occupation, dtype: object

### Step 17. What is the mean age of users?

In [18]:
data.age.mean()

inf

### Step 18. What is the age with least occurrence?

In [19]:
data.age.value_counts().tail()

7     1
66    1
11    1
10    1
73    1
Name: age, dtype: int64